/* app/artists/[artistSlug]/Artist.module.css */
.artContainer {
  width: 90%;
  max-width: 1080px;
  margin: 40px auto;
}

.artistImg {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.name {
  font-size: 2rem;
  margin-bottom: 8px;
  text-align: center;
}

.bio {
  color: #444;
  margin-bottom: 18px;
  text-align: center;
}

.albumLink {
  text-decoration: none;
  color: black;
}

.albumList {
  display: flex;
  gap: 2rem;
}

.album {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #ccc;
  transition: background 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.album:hover {
  background-color: #608e7f;
  border-bottom: 3px solid #476a5f;
  border-right: 3px solid #476a5f;
  color: white;
}

.albumMeta {
  padding: 1rem;
}

.albumHeader {
  display: flex;
  flex-direction: column;
}

.albumArt {
  width: 200px;
  height: 200px;
}

.sub {
  margin-top: 3rem;
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.songList {
  list-style: none;
  padding: 0;
}

.songLink {
  color: #1e40af;
  text-decoration: none;
}

.songLink:hover {
  text-decoration: underline;
}

.notFound {
  padding: 40px;
  text-align: center;
}