.pageContainer {
  color: #333745;
  width: 100%;
  max-width: 1080px;
  margin: 6rem auto;
  font-family: "Menbere", sans-serif;
  display: flex;
  gap: 3rem;
}

.leftContainer {
  width: 70%;
}

.rightContainer {
  background-color: #608e7f;
  width: 40%;
}

.header {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 6px;
}

.cover {
  border-radius: 1rem;
}

.artist {}

.artistLink {
  text-decoration: none;

}

.artistLink:hover {
  text-decoration: underline;
}


.metaBlock {
  margin-top: auto;
}

.meta {
  margin-bottom: 20px;
}

.lyricsContainer {
  padding: 3rem 0rem;
}

.lyrics {
  font-family: "Menbere", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  white-space: pre-wrap;
  line-height: 1.6;
  border-radius: 8px;
  text-align: left;
}

.notFound {
  padding: 40px;
  text-align: center;
}