.navbar {
  padding: 10px 0;
  color: black;
}

.navContainer {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.links a:hover {
  color: black;
}