.navbar {
  padding: 10px 0;
  color: black;
}

.navContainer {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.navIcon {
  margin-top: 1rem;
  width: 75px;
  height: auto;
}

.links {
  display: flex;
  gap: 0.39rem;
  align-items: center;
  list-style: none;
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  cursor: pointer;
}

.linksIcon {
  width: 24px;
  height: 24px;
}

.linksIcon2 {
  width: 24px;
  height: 24px;
  display: none;
}

.linksIcon3 {
  color: #2B1B35;
  text-decoration: none;
}

.links:hover {
  background-color: #2B1B35;
  color: white;

  .linksIcon {
    display: none;
  }

  .linksIcon2 {
    display: block;
  }

  .linksIcon3 {
    color: white;
  }
}


.links a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.links a:hover {
  color: black;
}