.navbar {
  background-color: #1C0B19;
  padding: 10px 0;
  color: white;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: White;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.links a:hover {
  color: #1e40af;
}
