@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Menbere", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
}