/* app/Home.module.css */

.homeContainer {
  max-width: 1080px;
  margin: 6rem auto;
  padding-bottom: 60px;
}







/* ------ Hero Styles ----- */


.heroSearchDiv {
  height: 150px;
  display: flex;
  align-items: center;

  margin-bottom: 6rem;
}

.searchCon {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 0rem;
  height: 80px;
  flex-direction: column;
  gap: 1.5rem;
}


.subtitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.heroHeaders {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.heroSearch {
  width: 50%;
}

.heroSearchContainer {
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid #777;
}

.heroSearchInput {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  flex: 1;
}

.heroSearchButton {
  border-radius: 1.5rem;
  background-color: #2B1B35;
  height: 45px;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.1s;
}

.heroSearchButton:hover {
  background-color: #533d61;
}










/* ------ Artist and Songs Styles ----- */


.artistsSection {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 3rem;
  color: #1C0B19;
}

.sectionTitle {
  font-size: 2.7rem;
  margin-bottom: 10px;
  padding-bottom: 6px;
  text-align: center;
}

.artistList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.artistItem {
  width: 33.3%;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.artistItem:hover {
  background-color: #f3f4f6;
}

.link {
  text-decoration: none;
  color: #1e40af;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}



.songCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.albumArt {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.songInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.songTitle {
  font-weight: 600;
  font-size: 1rem;
  color: #222;
}

.artistName {
  font-size: 0.85rem;
}






.albumGrid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 2rem;
}

.albumCard {
  display: block;
  width: calc((100% - 6rem) / 4);
}

.albumCover {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.albumMeta h3 {
  font-size: 0.95rem;
  margin: 8px 0 2px;
}

.albumMeta p {
  color: #777;
  font-size: 0.8rem;
}

.trackList {
  margin-top: 16px;
}